@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

@import "tailwindcss";

@import "./styles/variables.css";
@import "./styles/animations.css";
@import "./styles/base.css";
@keyframes loading-bar {
  0% {
    transform: translateX(-120%);
  }

  50% {
    transform: translateX(60%);
  }

  100% {
    transform: translateX(240%);
  }
}
